@* _Eventos.cshtml *@
@{
    Layout = null;
}

<div class="content-init col-md-10 mb-4">
    <div class="mb-4">
        <h2>
            <i class="bi bi-calendar-event-fill me-2" style="color: #112f5c;"></i>Eventos
        </h2>
        <p class="text-muted">Confira os eventos programados.</p>
        <hr>
    </div>

    <!-- Linha dos Eventos -->
    <div class="row g-4 mt-4">
        <!-- Evento 1 -->
        <div class="col-md-4">
            <div class="card p-3">
                <h5>Feira de Ciências</h5>
                <p class="text-muted">05 de Maio de 2025 às 14h</p>
                <a style="background-color: #112f5c;" href="#" class="btn btn-sm btn-primary">Ver detalhes</a>
            </div>
        </div>

        <!-- Evento 2 -->
        <div class="col-md-4">
            <div class="card p-3">
                <h5>Oficina de Leitura</h5>
                <p class="text-muted">07 de Maio de 2025 às 08h30</p>
                <a style="background-color: #112f5c;" href="#" class="btn btn-sm btn-primary">Ver detalhes</a>
            </div>
        </div>

        <!-- Evento 3 -->
        <div class="col-md-4">
            <div class="card p-3">
                <h5>Mostra Cultural</h5>
                <p class="text-muted">09 de Maio de 2025 às 13h30</p>
                <a style="background-color: #112f5c;" href="#" class="btn btn-sm btn-primary">Ver detalhes</a>
            </div>
        </div>
    </div>

    <!-- Outra linha se necessário -->
    <div class="row g-4 mt-4">
        <!-- Evento 4 -->
        <div class="col-md-4">
            <div class="card p-3">
                <h5>Gincana Interclasses</h5>
                <p class="text-muted">13 de Maio de 2025 às 11h</p>
                <a style="background-color: #112f5c;" href="#" class="btn btn-sm btn-primary">Ver detalhes</a>
            </div>
        </div>

        <!-- Evento 5 -->
        <div class="col-md-4">
            <div class="card p-3">
                <h5>Palestra sobre Bullying</h5>
                <p class="text-muted">15 de Maio de 2025 às 09h</p>
                <a style="background-color: #112f5c;" href="#" class="btn btn-sm btn-primary">Ver detalhes</a>
            </div>
        </div>

        <!-- Evento 6 -->
        <div class="col-md-4">
            <div class="card p-3">
                <h5>Reunião com Pais e Mestres</h5>
                <p class="text-muted">20 de Maio de 2025 às 08h</p>
                <a style="background-color: #112f5c;" href="#" class="btn btn-sm btn-primary">Ver detalhes</a>
            </div>
        </div>
    </div>
    <img id="bg-image" class="content-image" src="~/images/bg-eventos.png" alt="Background" />
</div>
