@{
    ViewData["Title"] = "Início";
}

<main id="main-content" class="flex-grow-1 p-5 d-flex position-relative">
    <div id="dynamic-content" class="flex-grow-1 position-relative z-2">
        <div class="text-center text-muted">
            Carregando...
        </div>
    </div>


    <img id="bg-image" class="content-image" src="/images/bg-dashboard.png" alt="Background" />

</main>
